<div class="callout secondary <%= "hide" if memberships.any? %>">
  <p><%= t("decidim.members.no_members") %></p>
</div>
<div class="callout secondary <%= "hide" if memberships.any? { |membership| membership.user } %>">
  <p><%= t("decidim.members.no_public_members") %></p>
</div>
<% if memberships.any? { |membership| membership.user.present? } %>
  <% if validation_messages.present? %>
    <% validation_messages.each do |validation| %>
      <%= cell("decidim/announcement", validation) %>
    <% end %>
  <% else %>
    <div class="profile__user-grid">
      <% memberships.each do |membership| %>
        <%= card_for membership %>
      <% end %>
    </div>
    <%= decidim_paginate memberships %>
  <% end %>
<% end %>
