<div class="reveal" id="anonymityModal" data-reveal role="dialog" aria-modal="true" aria-labelledby="anonymity-modal-label">
  <div class="reveal__header">
    <h2 id="anonymity-consent-label" class="reveal__title"><%= t("title", scope:"decidim.privacy.partials.anonymity_prompt") %></h2>
    <button class="close-button" data-close aria-label="<%= t("close_modal", scope: "decidim.privacy.partials.anonymity_prompt") %>"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row columns">
    <%= t("content_html", scope:"decidim.privacy.partials.anonymity_prompt") %>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <%= decidim_form_for(Decidim::Privacy::AnonymityForm.new, url: decidim_privacy.update_anonymity_path, html: { class: "anonymity-form", id: "update-anonymity-form" }, method: :put, remote: true) do |f| %>
        <%= f.hidden_field :set_anonymity, value: true %>

        <div class="button--double">
          <%= f.submit t("continue", scope: "decidim.privacy.partials.anonymity_prompt"), class: "button expanded" %>
        </div>
        <div class="text-center">
          <button id="publicize" class="link" type="button">
            <%= t("publicize", scope: "decidim.privacy.partials.anonymity_prompt")%>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
