<% subtitle = content_for(:subtitle) %>

<%= render "layouts/decidim/application" do %>
  <% if controller_name == "privacy_settings" && current_user.public? || controller_name == "account" && current_user.public? %>
    <div class="callout secondary">
      <div class="row margin-bottom-1">
        <div class="columns small-12">
          <%= icon "information-line", class: "icon--big margin-right-1 private-icon", role: "img", "aria-hidden": true %>
          <div class="h5 display-inline"><strong><%= t(".public") %></strong></div>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          <p><%= t(".message") %></p>
          <%= link_to request.base_url + decidim.profile_path(current_user.nickname), decidim.profile_path(current_user.nickname) %>
        </div>
      </div>
    </div>
  <% end %>
  <%= yield %>
<% end %>
