<%= render layout: "show", locals: { participants: conversation.interlocutors(current_user) } do %>
  <div id="messages" class="space-y-6" data-scroll-last-child>
    <% user_grouped_messages.each do |sender, messages| %>
      <%= render "messages", sender:, messages: %>
    <% end %>
  </div>

  <% if conversation.with_deleted_users?(current_user) %>
    <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.deleted_accounts"), callout_class: "warning") %>
  <% elsif conversation.interlocutors(current_user).count == 1 &&
  conversation.interlocutors(current_user).first.instance_of?(Decidim::User) &&
  !conversation.interlocutors(current_user).first.public?
  %>
    <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.private_account"), callout_class: "warning") %>
  <% elsif conversation.interlocutors(current_user).count == 1 &&
  conversation.interlocutors(current_user).first.instance_of?(Decidim::User) &&
  conversation.interlocutors(current_user).first.private_messaging_disabled?
  %>
    <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.private_messaging_disabled"), callout_class: "warning") %>
  <% elsif conversation.accept_user?(current_user) %>
    <%= render "reply", form: @form, conversation: conversation %>
  <% else %>
    <%= cell("decidim/announcement", t("decidim.messaging.conversations.show.not_allowed"), callout_class: "warning") %>
  <% end %>
<% end %>
