<div class="reveal" id="publishAccountModal" data-reveal role="dialog" aria-modal="true" aria-labelledby="privacy-modal-label">
  <div class="reveal__header">
    <h2 id="privacy-consent-label" class="reveal__title"><%= t("make_profile_public", scope:"decidim.privacy.partials.privacy_consent") %></h2>
    <button class="close-button" data-close aria-label="<%= t("close_modal", scope: "decidim.privacy.partials.privacy_consent") %>"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row columns">
     <%= t("content_html", scope:"decidim.privacy.partials.privacy_consent", user_name: current_user.name, nickname: current_user.nickname, profile_settings: link_to(t("profile_settings", scope: "decidim.privacy.partials.privacy_consent"), decidim.account_path, class: "text-secondary")).html_safe %>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <%= decidim_form_for(Decidim::Privacy::PublishAccountForm.new, url: decidim_privacy.update_account_publicity_path, html: { class: "public-account-form", id: "update-privacy-form" }, method: :put, remote: true) do |f| %>
        <div class="field margin-bottom-1">
          <%= f.check_box :agree_public_profile,label: t("agree_to_public_profile", scope: "decidim.privacy.partials.privacy_consent"), required: true %>
        </div>
        <div class="button--double">
          <%= f.submit t("make_profile_public", scope: "decidim.privacy.partials.privacy_consent"), class: "button expanded" %>
        </div>
      <% end %>
      <div class="text-center">
        <% if Decidim::Privacy.anonymity_enabled && current_user.anonymity.nil? %>
          <%= decidim_form_for(Decidim::Privacy::AnonymityForm.new, url: decidim_privacy.update_anonymity_path, html: { class: "anonymity-form", id: "update-anonymity-form" }, method: :put, remote: true) do |f| %>
            <%= f.hidden_field :set_anonymity, value: true, id: "anonymity-hidden-field" %>

            <%= f.submit t("continue_anonymous", scope: "decidim.privacy.partials.privacy_consent"), class: "link" %>
          <% end %>
        <% else %>
          <button class="link" data-close type="button">
            <%= t("do_not_agree", scope: "decidim.privacy.partials.privacy_consent")%>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
