<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <% add_decidim_page_title(t("privacy_settings", scope: "layouts.decidim.user_profile")) %>
  <% content_for(:subtitle) { t("privacy_settings", scope: "layouts.decidim.user_profile") } %>

  <%= form_for(@privacy_settings, url: privacy_settings_path, method: :put, class: "user-form") do |f| %>
    <%= t("profile_publicity_html", scope: "decidim.privacy.privacy_settings.show") %>
    <div class="form__wrapper pt-4">
      <label>
        <%= t("enable_public_profile", scope: "decidim.privacy.privacy_settings.show") %>
      </label>
      <div>
        <div class="toggle__switch-trigger">
          <label for="published_at" class="toggle__switch-toggle">
            <span>
              <input
                <%== %(checked="checked") if @privacy_settings.published_at %>
                id="published_at"
                type="checkbox"
                name="published_at"
                data-publicity=<%= @privacy_settings.published_at %>>
              <span class="toggle__switch-toggle-content">
              </span>
              <%= icon "check-line", class: "toggle__switch-toggle-icon" %>
              <%= icon "close-line", class: "toggle__switch-toggle-icon" %>
            </span>
            <span class="toggle__switch-trigger-text">
              <%= t("public_profile", scope: "decidim.privacy.privacy_settings.show") %>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div id="toggle-privacy-messaging" class="form__wrapper">
      <%= t("private_messaging_html", scope: "decidim.privacy.privacy_settings.show") %>

      <label>
        <%= t("enable_private_messaging", scope: "decidim.privacy.privacy_settings.show") %>
      </label>
      <div class="toggle__switch-trigger space-y-2">
        <label for="allow_private_messaging" class="toggle__switch-toggle">
          <span>
            <input type="hidden" name="allow_private_messaging" value="false">
            <input
              <%== %(checked="checked") if @privacy_settings.allow_private_messaging %>
              id="allow_private_messaging"
              type="checkbox"
              name="allow_private_messaging">
            <span class="toggle__switch-toggle-content">
            </span>
            <%= icon "check-line", class: "toggle__switch-toggle-icon" %>
            <%= icon "close-line", class: "toggle__switch-toggle-icon" %>
          </span>
          <span class="toggle__switch-trigger-text">
            <%= t("private_messaging", scope: "decidim.privacy.privacy_settings.show") %>
          </span>
        </label>
      </div>

      <label>
        <%= t("allow_public_contact", scope: "decidim.privacy.privacy_settings.show") %>
      </label>
      <div class="toggle__switch-trigger">
        <label for="allow_public_contact" class="toggle__switch-toggle">
          <span>
            <input type="hidden" name="allow_public_contact" value="false">
            <input
              <%== %(checked="checked") if @privacy_settings.allow_public_contact %>
              id="allow_public_contact"
              type="checkbox"
              name="allow_public_contact">
            <span class="toggle__switch-toggle-content">
            </span>
            <%= icon "check-line", class: "toggle__switch-toggle-icon" %>
            <%= icon "close-line", class: "toggle__switch-toggle-icon" %>
          </span>
          <span class="toggle__switch-trigger-text">
            <%= t("public_contact", scope: "decidim.privacy.privacy_settings.show") %>
          </span>
        </label>
      </div>
    </div>
    <%= f.submit t(".save_privacy_settings"), class: "button button__sm md:button__lg button__secondary mr-auto !ml-0" %>
  <% end %>
  <%= append_javascript_pack_tag "decidim_privacy_settings" %>
<% end %>
