<div class="user-password form__wrapper">
  <%= form.send(:custom_label, :password, t("activemodel.attributes.user.password"), { required: true }) %>

  <% if local_assigns.has_key?(:show_help_text) || local_assigns.has_key?(:user) %>
    <%= form.password_field :password, password_field_options_for(user) %>
    <%= form.password_field :password_confirmation, password_field_options_for(user).except(:help_text) %>
  <% else %>
    <%= form.password_field :password, autocomplete: "current-password", required: true, label: false %>
    <%= form.password_field :password_confirmation, password_field_options_for(user).except(:help_text) %>
  <% end %>
</div>
